{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% endblock %}
    <style>
        footer {
            position:fixed;
            left:0px;
            bottom:0px;
            height:30px;
            width:100%;
        }
    </style>
</head>

<body class="pace-done">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-1">
            <br>
            <a class="btn btn-default" href="{% url 'books:list' %}">*Books</a>
            <a class="btn btn-default" href="{% url 'books:logging' %}">*Books Logging</a>
            <a class="btn btn-default" href="{% url 'request_logging:list' %}">*Requests Logging</a>
            <a class="btn btn-default" href="{% url 'admin:index' %}">*Admin Panel</a>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper wrapper-content">
                {% block content %}{% endblock %}
            </div>
            <footer class="footer">
                <div class="pull-right">
                    Created By <a href="#" target="_blank">Viktor Volchanskiy</a>
                </div>
                <div>
                    <strong>Copyright</strong> VikVV &copy; 2016-{% now "Y" %}
                </div>
            </footer>
        </div>
    </div>
</div>
</body>
</html>