{% extends 'base.html' %}


{% block title %}Requests{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <br>
            <br>
            <div class="col-md-offset-1 col-md-10">
                <table class="table table-striped table-bordered table-hover" >
                    <thead>
                    <tr>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">Response</td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">Method</td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">Path</td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">Time</td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">Is secure</td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">Is ajax</td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">IP</td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">Referer</td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">User agent</td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">Language</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for request in object_list %}
                        <tr>
                            <td class="text-center">{{ request.response }}</td>
                            <td class="text-center">{{ request.method }}</td>
                            <td class="text-center">{{ request.path }}</td>
                            <td class="text-center">{{ request.time }}</td>
                            <td class="text-center">{{ request.is_secure }}</td>
                            <td class="text-center">{{ request.is_ajax }}</td>
                            <td class="text-center">{{ request.ip }}</td>
                            <td class="text-center">{{ request.referer }}</td>
                            <td class="text-center">{{ request.user_agent }}</td>
                            <td class="text-center">{{ request.language }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}