{% extends 'base.html' %}


{% block title %}Books Logging{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <table class="table table-striped table-bordered table-hover" >
                    <thead>
                    <tr>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">Book</td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">Type</td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">Time</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td class="text-center">{{ item.book_title }}</td>
                            <td class="text-center">{{ item.manipulation_type }}</td>
                            <td class="text-center">{{ item.time }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}