{% extends 'base.html' %}


{% block title %}Books{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                <a href="{% url 'books:create' %}" class="btn btn-primary">Create Book</a>
            </div>
            <br>
            <br>
            <div class="col-md-offset-1 col-md-10">
                <table class="table table-striped table-bordered table-hover" >
                    <thead>
                    <tr>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">Title</td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">Authors info</td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">ISBN</td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">
                            <a href="{% url 'books:list' %}?ordering={{ ordering }}">Publish Date</a>
                        </td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">Price</td>
                        <td class="text-center" style="background-color: #f8f8f8; font-weight: bold;">Action</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in object_list %}
                        <tr>
                            <td class="text-center">{{ book.title }}</td>
                            <td class="text-center">{{ book.authors_info }}</td>
                            <td class="text-center">{{ book.isbn }}</td>
                            <td class="text-center">{{ book.publish_date }}</td>
                            <td class="text-center">{{ book.price }}</td>
                            <td class="text-center">
                                <a class="btn btn-default" href="{% url 'books:update' pk=book.pk %}">Edit</a>
                                <form method="post" action="{% url 'books:delete' pk=book.pk %}">
                                    {% csrf_token %}
                                    <input class="btn btn-danger" type="submit" value="Delete">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}