{% extends 'base.html' %}
{% load static %}

{% block title %}Books{% endblock %}
{% block content %}
    <style>
        .error {
            color: red;
        }
    </style>
    {% with 'new_book' as form_id %}
        <form id="{{ form_id }}"
              class="important-form"
              role="form"
              method="post"
              action="{% block action_url %}{% url 'books:create' %}{% endblock %}"
        >
            {% csrf_token %}
        </form>
        <div class="row">
            {{ form.non_field_errors }}
            <div class="col-md-offset-4 col-md-4">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text"
                           name="{{ form.title.html_name }}"
                           form="{{ form_id }}"
                           class="form-control"
                           value="{% firstof form.title.value '' %}">
                    {% for error in form.title.errors %}
                        <span class="error help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-offset-4 col-md-4">
                <div class="form-group">
                    <label>Authors info</label>
                    <input type="text"
                           name="{{ form.authors_info.html_name }}"
                           form="{{ form_id }}"
                           class="form-control"
                           value="{% firstof form.authors_info.value '' %}">
                    {% for error in form.authors_info.errors %}
                        <span class="error help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-offset-4 col-md-4">
                <div class="form-group">
                    <label>ISBN</label>
                    <input type="text"
                           name="{{ form.isbn.html_name }}"
                           form="{{ form_id }}"
                           class="form-control"
                           value="{% firstof form.isbn.value '' %}">
                    {% for error in form.isbn.errors %}
                        <span class="error help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-offset-4 col-md-4">
                <div class="form-group">
                    <label>Publish date</label>
                    <input type="date"
                           name="{{ form.publish_date.html_name }}"
                           form="{{ form_id }}"
                           class="form-control"
                           value="{% firstof form.publish_date.value|date:'Y-m-d' '' %}">
                    {% for error in form.publish_date.errors %}
                        <span class="error help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-offset-4 col-md-4">
                <div class="form-group">
                    <label>Price</label>
                    <input type="number"
                           name="{{ form.price.html_name }}"
                           form="{{ form_id }}"
                           class="form-control"
                           value="{% firstof form.price.value '' %}">
                    {% for error in form.price.errors %}
                        <span class="error help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-offset-4 col-md-4">
                {% block form_submit_buttons %}
                    <button type="submit" form="{{ form_id }}" class="btn btn-primary">Save</button>
                    <a href="{% url 'books:list'  %}" class="btn btn-danger">Cancel</a>
                {% endblock %}
            </div>
        </div>
    {% endwith %}
{% endblock %}